<!DOCTYPE html>
<html>
	<head>
		<title>About Training</title>
		<link rel="stylesheet" type="text/css" href="/styles/basic.css" />
	</head>
	<body>
		<div id="header">
			<h1>About Page</h1>
			<%- include("partials/navbar.ejs"); %> <!-- dynamic nav bar -->
		</div>
		<div id="content">
			<p>About Content</p>
		</div>
		<div id="footer"><h3>End Training</h3></div>
	</body>
</html>
