<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
		<link rel="stylesheet" type="text/css" href="web/styles/basic.css" />
	</head>
	<body>
		<div id="header">
			<h1>Home Page</h1>
			<%- include("partials/navbar.ejs"); %> <!-- dynamic nav bar -->
		</div>
		<div id="content">
			<form method="post" action="/">
				<label for="t" >Tag ID: </label><input id="t" type="text" name="tag" />
				<label for="pw" >Password: </label><input id="pw" type="password" name="pw" />
				<input type="submit" value="login" />
			</form>
		</div>
		<div id="footer"><h3>End Training</h3></div>
	</body>
</html>